<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.resturant.mapper.StudentMapper">

    <select id="queryAll"  resultType="com.ruoyi.resturant.domain.Student">
        select id, sno, name, sex from t_student
    </select>
    <select id="selectStudentById" parameterType="Long" resultType="com.ruoyi.resturant.domain.Student">
        select id, sno, name, sex from t_student where id = #{id}
    </select>

    <insert id="insertStudent" parameterType="Student" useGeneratedKeys="true" keyProperty="id">
        insert into t_student(sno, name, sex )
        values (#{sno}, #{name}, #{sex})
    </insert>

    <update id="updateStudent" parameterType="Student">
    update t_student set sno=#{sno}, name=#{name},sex=#{sex}
        where id=#{id}
    </update>

    <delete id="deleteStudent" parameterType="Long">
        delete from t_student where id=#{id}
    </delete>
</mapper>
